.playground {
	background-color:  #d8e6ad;
	color: white;
	height: 100%;
	width: 400px;
	border-radius: 8px;
	margin-top: 8px;
	text-align: left;
}

.address {
	color: black;
	font-size: 18px;
	text-decoration: underline;
	text-align: left;
	padding-left: 8px;
}

.features {
	display: flex;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
}

.pill {
	width: fit-content;
	font-size: 1em;
	padding: 4px 16px;
	border-radius: 12px;
	border: 1px solid black;
	color: black;
	margin: 0 8px;
	background-color: white;
	box-shadow: 4px 4px black;
}

.address {
	color: black;
}

.img {
	width: 400px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


.playground-header {
	font-size: 28px;
	font-weight: 700;
	margin: 4px 0px;
	padding-left: 8px;
	color: black;
	display: flex;
	justify-content: space-between;
}

.playground-page {
	display: block;
	margin: 20px 0;
	border: 2px solid black;
	color: black;
	.img {
		border-radius: 0 !important;
	}
	min-height: 400px;
}

.features {
	margin-top: 8px;
}

.save {
	border-radius: 4px;
	background-color: black;
	color: white;
	font-size: 14px;
}

.header-container {
	display: block;
	margin: 64px 8px 8px;
	text-align: center;
	h1 {
		font-size: 36px;
	}
	h1, h2, p {
		margin: 4px;
		background-color: white;
	}
	h1 {
		text-align: left;
	}
	div {
		text-align: center;
		background-image: url('../assets/suggestion-blob.svg');
        padding: 4px;
        height: 100px;
		background-color: white;
		margin: 0 auto;
		width: fit-content;
		font-size: 48px;
        background-size: 400px;
        background-position: center;
        background-repeat: no-repeat;
	}
}

.card-header {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	z-index: 100;
	padding: 4px 8px;
	font-size: 24px;
}

/*.playground-page:hover { 
	background-color: black;
	color: white;
	border-color: black;
}
*/
.playground-text {
	padding: 20px 8px;
	h1 {
		font-size: 28px;
		font-weight: 700;
		text-transform: uppercase;
	}
}