.playground {
	background-color:  #d8e6ad;
	color: white;
	height: 100%;
	width: 400px;
	border-radius: 8px;
	margin-top: 8px;
	text-align: left;
}

.address {
	color: black;
	font-size: 18px;
	text-decoartion: underline;
	text-align: left;
	padding-left: 8px;
}

.img {
	width: 400px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}


.playground-header {
	font-size: 28px;
	font-weight: 700;
	margin: 4px 0px;
	padding-left: 8px;
	color: black;
	display: flex;
	justify-content: space-between;
}

.playground-page {
	display: block;
	margin: 20px 0;
	border: 2px solid grey;
	border-radius: 8px;
	color: black;
	.img {
		border-radius: 0 !important;
	}
}

.playground-page:hover { 
	font-size: 105%;
}

.playground-text {
	padding: 20px 8px;
	margin-left: 4px;
	width: 100%;
	h1 {
		font-size: 28px;
		font-weight: 700;
		text-transform: uppercase;
	}
}