#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Tuffy', Arial;
}

.reset {
  all: unset;
  border: 2px solid black;
  padding: 2px;
  border-radius: 4px;
  height: 22px;
  line-height: 22px;
  background-color: white;
}

.reset:hover {
  background-color: #e6add8;
}

.header {
  position: sticky;
  height: 36px;
  top: 0;
  right: 0;
  left: 0;
  font-family: 'Tuffy';
  font-weight: 600;
  padding: 0;
  background-color: #adbce6;
  border: 2px solid black;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
}

.logo {
    font-family: 'Tuffy';
  font-weight: 600;
}

