#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Tuffy', Arial;
}

.reset {
  all: unset;
  border: 2px solid black;
  padding: 2px;
  border-radius: 4px;
  height: 22px;
  line-height: 22px;
  background-color: white;
}

.landing {
  margin: 200px 20px 20px;
  width: fit-content;
  text-align: left;
  background-color: #adbce6;
  padding: 20px;
  font-size: 18px;
}
.main {
  background-image: url('./assets/playground-illustration.jpg');
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-size: contain;
}

.playground-container {
  height: unset;
  background-size: repeat;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
}

@media only screen and (max-width: 500px) {
  .list {
    display: block;
  }
}

.container {
  h1 {
    margin-top: 60px;
    background-color: white;
    width: fit-content;
    margin: 60px  auto 0 auto;
  }
  div:not(.calendar-day) {
    padding: 8px;
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
  }
}

.input-container {
  display: inline-block;
  background-color: white;
  width: 200px;
  height: 100%;
  > input {
    height: 24px;
    width: 200px;
  }
}

.empty-results-container {
  height: 100vh;
  h3 {
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    border-radius: 8px;
  }
}

/* nav */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: black;
  color: white;
  height: fit-content;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  a {
    color: white;
    font-weight: 700;
  }
  p {
    margin-top: 0 !important;
  }
  a:hover {
    text-decoration: underline;
    font-size: 99%;
  }
  font-size: 18px;
}

/* favorite */

.favorite-card {
  background-color: black !important;
  color: white;
}

#googleIcon {
  background-image: url('./assets/google-maps.png');
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat, repeat;
  background-position: center;
}

.location-container {
  display: flex;
}



